* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.body{
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form-container{
    width: 100vw;
}

.logout{
    position: absolute;
    left: 50%;
    top:  50%;
    transform: translate(-50%, -50%);
}
@media (min-width: 481px) {
    .form-container{
        width: calc(100vw - 75);
    }
}
@media (min-width: 769px) {
    .form-container{
        width: 500px;
    }
}

